
<div class="row">

  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h3 class="text-center">
      <span class="section-title">Create an account</span>
    </h3>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :last_name, placeholder:"Type last name", required: true %>
        <%= f.input :first_name, placeholder:"Type first name", required: true %>
        <%= f.input :email, placeholder:"Type email", required: true, autofocus: true %>
        <%= f.input :avatar, placeholder:"Select picture", as: :attachinary, required: true %>
        <%= f.input :password, label: "Password", placeholder:"Type password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm password", placeholder:"Type Password", required: true %>
      </div>

      <div class="form-actions auth">
        <%= f.button :submit, "Create" %>
      </div>
    <% end %>

    <div class=links>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

