<div class="container">
  <h3 class="text-center">
    <span class="section-title"><%= @task.name %></span>
  </h3>

  <div class="fullblock">
    <div class="statut">
      <p>
        <% if @task.statut %>
          <i class="fa fa-check"></i>
        <% else %>
          <i class="fa fa-hourglass-half"></i>
        <% end %>

        <%= @task.statut ? "Task done | " : "This task is unfulfilled |" %>

        <% if policy(@wedding).edit? %>
          <% if @task.statut %>
            <%= link_to "Unmark as done", edit_wedding_task_path(@wedding, @task) %>
          <% else %>
            <%= link_to "Mark as done", edit_wedding_task_path(@wedding, @task) %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class=links>
      <%= link_to "Back to Wedding", wedding_path(@wedding), class: "back-link" %>
    </div>

    <% if policy(@wedding).edit? %>
      <div class="row">
        <div class="col-xs-8">
          <h4>Review list</h4>
        </div>

        <div class="col-xs-4">
          <h4>Add content</h4>
        </div>
      </div>
    <% end %>


    <div class="row">
      <% if policy(@wedding).edit? %>
        <div class="col-xs-8">
          <div class="leftblock">
            <div class="row">
              <div class="col-xs-6 task-details">
                <h4>Private</h4>
                <ul>
                  <% @private_elements.each do |element| %>
                    <li>
                      <%= element.content %>
                      <%= link_to edit_wedding_task_element_path(@wedding, @task, element) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_element_path(@wedding, @task, element), method: :delete, data: { confirm: 'Sure?' } do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-xs-6 task-details">
                <h4>Public</h4>
                  <ul>
                  <% @public_elements.each do |element| %>
                    <li>
                      <%= element.content %>
                      <%= link_to edit_wedding_task_element_path(@wedding, @task, element) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_element_path(@wedding, @task, element), method: :delete, data: { confirm: 'Sure?' } do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="rightblock">
            <%= render 'elements/form-new', wedding: @wedding, task: @task, element: @element %>
          </div>
        </div>
        <div class="col-xs-12 discussion">
          <h4>Comments</h4>
          <div class="downblock invited-height-block">
            <div class="messages-block">
              <ul>
                <% @messages.each do |m| %>
                  <li>
                    <%= m.content %>, written by <%= m.user.first_name %>, <%=m.created_at.strftime('%D at %H:%M.')%>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="messages-form">
              <%= render 'messages/form-new', wedding: @wedding, task: @task, message: @message %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-xs-8 discussion">
          <h4>Messages</h4>
          <div class="leftblock invited-height-block">
            <div class="messages-block">
              <ul>
              <% @messages.each do |m| %>
                <li>
                  <%= m.content %>, written by <%= m.user.first_name %>, <%=m.created_at.strftime('%D at %H:%M.')%>
                </li>
              <% end %>
              </ul>
            </div>
            <div class="messages-form">
              <%= render 'messages/form-new', wedding: @wedding, task: @task, message: @message %>
            </div>
          </div>
        </div>
         <div class="col-xs-4 task-details">
          <h4>Needs</h4>
            <div class="rightblock invited-height-block">
              <ul>
              <% @public_elements.each do |element| %>
                <li>
                  <%= element.content %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>








