<div class="container">
  <h3 class="text-center">
    <span class="section-title"><%= @task.name %></span>
  </h3>

  <div class="fullblock">
    <div class="statut">
      <p>
        <% if @task.statut %>
          <i class="fa fa-check"></i>
        <% else %>
          <i class="fa fa-hourglass-half"></i>
        <% end %>

        <%= @task.statut ? "Task done | " : "This task is unfulfilled |" %>

        <% if @wedding.user == current_user %>
          <% if @task.statut %>
            <%= link_to "Unmark as done", edit_wedding_task_path(@wedding, @task) %>
          <% else %>
            <%= link_to "Mark as done", edit_wedding_task_path(@wedding, @task) %>
          <% end %>
        <% end %>
      </p>
    </div>

    <% if @wedding.user == current_user %>
      <div class="row">
        <div class="col-xs-8">
          <h4>Review list</h4>
        </div>

        <div class="col-xs-4">
          <h4>Add content</h4>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-8">
        <div class="leftblock">
          <div class="row">
            <% if @wedding.user == current_user %>
              <div class="col-xs-6 task-details">
                <h4>Private</h4>
                <ul>
                  <% @private_elements.each do |element| %>
                    <li>
                      <%= element.content %>
                      <%= link_to edit_wedding_task_element_path(@wedding, @task, element) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_element_path(@wedding, @task, element), method: :delete, data: { confirm: 'Sure?' } do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-xs-6 task-details">
                <h4>Public</h4>
                  <ul>
                  <% @public_elements.each do |element| %>
                    <li>
                      <%= element.content %>
                      <%= link_to edit_wedding_task_element_path(@wedding, @task, element) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_element_path(@wedding, @task, element), method: :delete, data: { confirm: 'Sure?' } do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <div class="col-xs-12 task-details">
                <ul>
                  <% @public_elements.each do |element| %>
                    <li><%= element.content %>
                      <%= link_to edit_wedding_task_element_path(@wedding, @task, element) do %><i class="fa fa-pencil"></i><% end %>
                      <%= link_to wedding_task_element_path(@wedding, @task, element), method: :delete, data: { confirm: 'Sure?' } do %><i class="fa fa-trash"></i><% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="rightblock">
          <%= render 'elements/form-new', wedding: @wedding, task: @task, element: @element %>
        </div>
      </div>



    <div class="col-xs-12 discussion">
      <h4>Comments</h4>
      <div class="downnblock">

        <ul>
          <% @messages.each do |m| %>
            <li>
              <%= m.content %>, written by <%= m.user.first_name %>, <%=m.created_at.strftime('%D at %H:%M.')%>
            </li>
          <% end %>
        </ul>
        <%= render 'messages/form-new', wedding: @wedding, task: @task, message: @message %>
      </div>
    </div>
  </div>

<%= render 'messages/message-chat' %>

</div>
<div class=links>
  <%= link_to "Back to Wedding", wedding_path(@wedding), class: "back-link" %>
</div>

