<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">


<!----------- MARIES / GUEST -------------->
<div class="home-page">
  <div class="parallax">
    <div class="phrase">Your collaborative wedding experience</div>
  </div>
  <div class="paddded-tb">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1">
          <div class="feature">
            <div class="feature-icon">
              <i class="fa fa-heart-o"></i>
            </div>
            <div class="title">
              <h3>GETTING MARRIED</h3>
            </div>
            <div class="description">
                Live a unique collaborative wedding experience.
                You will create a dedicated platform for your website where you can :
                <br>
                <li>share invitations</li>
                <li>organization details</li>
                <li>guest list and memories...</li>
                <br>
                You may ask guest's help by participating to a dedicated extra-job !
            </div>
            <%= link_to 'CREATE', new_wedding_path, class: 'button' %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-2">
          <div class="feature">
            <div class="feature-icon">
              <i class="fa fa-envelope-o"></i>
            </div>
            <div class="title">
              <h3>GUEST</h3>
            </div>
            <div class="description">
              As a wedding guest you will be able to :
              <li>organize your way to the wedding</li>
              <li>participate to some wedding tasks</li>
              <li>see the wedding memories</li>
              <li>chat with other guests...</li>
              <br>
              Now, you just have to enjoy the wedding celebration !
            </div>
            <%= link_to 'FIND', new_user_registration_path, class: 'button' %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!----------- Ils nous font confiance -------------->
  <div class="testimonials paddded-tb">
    <div class="container">
      <h3 class="text-center"><span class="section-title">They trust us</span></h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="testimonial">
            <div class="text-center">
              <%= image_tag "couple.jpg", class:"avatar-large" %>
            </div>
            <h2 class="text-center">Camille.C</h2>
            <div class="card-testi">
              <p>My husband and I where pretty busy at work and it was hard finding time to organize our wedding. We did not know what to start with. Our main idea was to have a collaborative wedding. What an easy and incredible website. Helped me a lot to prepare everything for D-DAY.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="testimonial">
            <div class="text-center">
              <%= image_tag "couple2.jpg", class:"avatar-large" %>
            </div>
            <h2 class="text-center">Benjamin.B</h2>
            <div class="card-testi">
              <p>My girlfriend and I where deeply in love and wanted to share this feeling with all our friends in a collaborative way. Mari&Vous was by far the best option we found. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="testimonial">
            <div class="text-center">
              <%= image_tag "couple3.jpg", class:"avatar-large" %>
            </div>
            <h2 class="text-center">Claire.T</h2>
            <div class="card-testi">
              <p>I want to organize wedding where everyone could participate in a way or another: creating a playlist, bringing champagne, helping with the decoration. Thanks to word of mouth Mari&Vous came to us. What an incredible relief.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------- Contact us form -------------->
  <div class="addmargin">
    <h3><span class="section-title">Contact us</span></h3>
  </div>
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="contactFormFullName">Full Name</label>
              <input type="email" class="form-control" id="contactFormFullName" placeholder="Enter full name">
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="contactFormEmail">Email address</label>
              <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter email address">
            </div>
          </div>
          <div class="row marged-top">
            <div class="col-xs-12">
              <label>Message</label>
              <input id="exampleInputMessage1" placeholder="Type here" class="form-control mb-4" rows="10" name="message">
              <button id="button" class="button marged-top" placeholder="Send">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
