<h4>Can you confirm your presence and your family's</h4>


<form
  <p><%= radio_button :presence, :name, "pending" %> Waiting for confirmation</p>
  <p><%= radio_button :presence , :name, "confirmed" %> Of course, we're comming!</p>
  <p><%= radio_button :presence , :name, "rejected" %> Sorry, we can't.Best wishes however</p>



<% if @registry.presence != "pending" %>
  <%= link_to "Answer", new_wedding_registry_path(@registry.wedding_id) %>
<% else %>
  <%= link_to "Answer", new_wedding_registry_path(@wedding) %>
<% end %>

