 <%= simple_form_for([@wedding, @registry]) do |f| %>
  <%= f.input :email, required: true %>

  <%= f.simple_fields_for :guests do |guest_f|  %>
    <%= render 'guest_fields', f: guest_f %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add guest', f, :guests %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
<% end %>
