<div class="form-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

     <%= simple_form_for([@wedding, @registry]) do |f| %>
       <h4>Confirm your presence</h4>
       <%= f.simple_fields_for :guests do |guest_f|  %>
        <div class="nested-fields">
          <div class="row">
            <div class="col-xs-8">
              <div class="form-inline">
                <%= guest_f.input :name, label: false, disabled: true %>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-inline">
                <%= guest_f.input :presence %>
              </div>
            </div>
          </div>
        </div>
       <% end %>
       <div class="form-actions">
         <%= f.button :submit, value: "Oui" %>
       </div>
     <% end %>
    </div>
  </div>
</div>


