<% if @wedding.user == current_user %>

<h1>Hello, <%= @wedding.user.first_name%> <%= @wedding.user.last_name %> </h1>

<p>Here is the list of the registries for your wedding : </p>



<% @registries.each do |reg| %>

  <li>
    <%= reg.guest_names.first.capitalize %> for a total of <%= reg.guest_names.length %> persons
    <%= link_to 'Show', wedding_registry_path(@wedding, reg) %>
    <%= link_to 'Edit', edit_wedding_registry_path(@wedding, reg) %>
    <%= link_to 'Destroy', wedding_registry_path(@wedding, reg), method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<% end %>
</ul>
<%= link_to "Back to my wedding", wedding_path(@wedding) %>


<p> Today, 0 peoples answered "Yes" for your wedding </p>

<% else %>

<h1>This is not a wedding that your organize</h1>
<p>Consequently, you won't see the list of registries</p>

<%= link_to "Back to the wedding", wedding_path(@wedding) %>

<% end %>



