<div class="container">
  <% if @wedding.user == current_user %>

  <h1>Hello, <%= @wedding.user.first_name%> <%= @wedding.user.last_name %> </h1>

  <p>Here is the list of the registries for your wedding : </p>

  <% @registries.each do |reg| %>

    <li>
      total guests : <%= reg.guests.length %> persons
      <%= link_to 'Show', wedding_registry_path(@wedding, reg) %>
      <%= link_to 'Edit', edit_wedding_registry_path(@wedding, reg) %>
      <%= link_to 'Destroy', wedding_registry_path(@wedding, reg), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
  </ul>
  <%= link_to "Back to my wedding", wedding_path(@wedding) %>


  <p> Today,  peoples answered "Yes" for your wedding </p>

  <% end %>
</div>


