<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <h3 class="text-center">
        <span class="section-title">Guest list</span>
      </h3>

      <% if @wedding.user == current_user %>

        <div class="guest-email">
          <p><%= @wedding.user.first_name%> <%= @wedding.user.last_name %></p>
        </div>

      <% end %>

      <div class="guest_details">
        <table>
          <% @registries.each do |reg| %>

            <tr>
              <th>Family</th>
              <th>Guests</th>
              <th>Action</th>
            </tr>

          <tr>
            <td>Martin</td>
            <td><%= reg.guests.length %> </td>
            <td>
              <div class="links">
                  <%= link_to 'Show', wedding_registry_path(@wedding, reg) %>
                  <%= link_to 'Edit', edit_wedding_registry_path(@wedding, reg) %>
                  <%= link_to 'Destroy', wedding_registry_path(@wedding, reg), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="links">
        <%= link_to "Back to my wedding", wedding_path(@wedding) %>
      </div>
    </div>
  </div>
</div>




