<% if current_user[:id] == @wedding[:user_id] %>
  <h4>Create a new registry</h4>

  <%= simple_form_for([@wedding, @registry]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email %>

      <div class="form-group string optional registry_guest_names">
        <label class="control-label string optional" for="registry_guest_names">Guest names</label>
        <div id="champs">
          <input class="guest_field form-control string optional" type="text" value="" name="registry[guest_names][]" />
        </div>
      </div>

      <button id="add_field_button" type="button" >+</button>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
<% else %>

  <h1>This is not a wedding that your organize</h1>
  <p>Consequently, you won't create a new registry</p>

  <%= link_to "Back to the wedding", wedding_path(@wedding) %>
<% end %>



<script type="text/javascript">
var div = document.getElementById('champs');
console.log(div);
function addInput(name){
  var input = document.createElement("input");
  input.className = "guest_field form-control string optional";
  input.name = name;
  div.appendChild(input);
}
function addField() {
  addInput("registry[guest_names][]");
  div.appendChild(document.createElement("br"));
}
var addFieldButton = document.getElementById('add_field_button');

var champs = document.getElementsByClassName('guest_field');
console.log(addFieldButton);

function inputsEmpty() {
  for (var champ of champs) {
      if(champ.value == "")
        {
          return true;
        }
  }
  return false;
}

addFieldButton.addEventListener('click', function() {
    if(inputsEmpty())
    {
      console.log("y en a un de vide!!");
      return;
    }
    addField();
});

</script>
