<div class="container">
    <p><%= @registry.email %></p>
    <div class="guest_details">
      <ul>
      <% @registry.guest_names.each do |name, presence = false| %>
        <li>
          <%= name %>
          <div id="presence_status"><%= presence %></div>
        </li>
      <% end %>
    </ul>
  </div>
<%= link_to "See all my registries", wedding_registries_path(@wedding) %>
<%= link_to "Edit", edit_wedding_registry_path(@wedding, @registry) %>
<%= link_to "Back to my wedding", wedding_path(@wedding) %>
</div>


