<%= simple_form_for(@wedding) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h3 class="text-center">
        <span class="section-title">Create your wedding</span>
      </h3>
        <div class="form-inputs">
          <%= f.input :title, placeholder:"Type your wedding title",required: true %>
          <%= f.input :description, placeholder:"Type your wedding description", required: true %>
          <%= f.input :date,  start_year: Time.now.year, end_year: Time.now.year + 8, order: [:day, :month, :year], required: true, class: "inline" %>
          <%= f.input :location,placeholder:"Type your wedding location", required: true %>
          <%= f.input :capacity, placeholder:"Add your wedding capacity", numericality: { only_integer: true, greater_than: 0}, required: true %>
          <%= f.input :photo, as: :attachinary, required: true %>
          <%= f.input :spouse_photo, as: :attachinary, required: true %>
          <%= f.input :spouse_first_name, placeholder:"Type your wife/husband first name", required: true %>
          <%= f.input :spouse_last_name, placeholder:"Type your wife/husband last name", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    </div>
  </div>
<% end %>
