<%= simple_form_for(@wedding) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true %>
    <%= f.input :description, required: true %>
    <%= f.input :date,  start_year: Time.now.year, end_year: Time.now.year + 8, order: [:day, :month, :year], required: true, class: "inline" %>
    <%= f.input :location, required: true %>
    <%= f.input :capacity, numericality: { only_integer: true, greater_than: 0}, required: true %>
    <%= f.input :photo, as: :attachinary, required: true %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
