<p id="notice"><%= notice %></p>

<h1>Les mariages</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Date</th>
      <th>Lieu</th>
      <th>Photo</th>
      <th>Nombre d'invités</th>
      <th>Organasiteurs</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= wedding.title %></td>
        <td><%= wedding.description %></td>
        <td><%= wedding.date %></td>
        <td><%= wedding.location %></td>
        <td><%= wedding.photo %></td>
        <td><%= wedding.capacity %></td>
        <td><%= wedding.user.first_name.capitalize %> <%= wedding.user.last_name.capitalize %></td>
        <td><%= link_to 'Show', wedding %></td>
        <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
        <td><%= link_to 'Destroy', wedding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau mariage', new_wedding_path %>
