<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="info-wedding-description">
        <%= render "wedding_card" %>
        <p>
          <% if policy(@wedding).edit? %>
            <%= link_to 'Edit', edit_wedding_path(@wedding) %> |
          <% end %>
          <% if policy(@wedding).destroy? %>
            <%= link_to 'Destroy', @wedding, method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <%= link_to 'Back', root_path %>
        </p>

        <% if policy(@wedding).edit? %>
          <div class="col-xs-6">
            <%= link_to "Create a registry", new_wedding_registry_path(@wedding), class: "btn btn-primary" %>
          </div>
          <div class="col-xs-6">
            <%= link_to "See all my registries", wedding_registries_path(@wedding), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="info-wedding-location">
        <h4>The place to be on <strong><%= @wedding.date %></strong>:</h4>
        <h5><%= @wedding.location %></h5>
        <div id="map" style="width: 300px; height: 400px;"></div>
      </div>
    </div>
  </div>



  <%= link_to "Task's block here", wedding_tasks_path(@wedding) %>

  <%= render 'tasks/tasks', wedding: @wedding, active_task: @wedding.tasks.last %>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10);
        }
      });
    <% end %>
  <% end %>

</div>
