<p id="notice"><%= notice %></p>

<%= render "layouts/banner" %>
<p>
  <strong>Title:</strong>
  <%= @wedding.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wedding.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @wedding.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @wedding.location %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @wedding.photo %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @wedding.capacity %>
</p>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>

<!-- <p> -->
<!--   <strong>Users:</strong>
  <%= @wedding.user %>
</p> -->

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
