<% if policy(@wedding).edit? %>
  <%= render "tab" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="info-wedding-description">
        <%= render "wedding_card" %>
        <p>
          <% if policy(@wedding).edit? %>
            <%= link_to 'Guests list', wedding_registries_path(@wedding)%> |
            <%= link_to 'Edit', edit_wedding_path(@wedding) %> |
          <% end %>
          <% if policy(@wedding).destroy? %>
            <%= link_to 'Destroy', @wedding, method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <%= link_to 'Back', root_path %>
        </p>
        <% if policy(@wedding).edit? %>
          <%= link_to "New registry", new_wedding_registry_path(@wedding), class: "btn btn-primary"  %>
          <%= link_to "New task", new_wedding_task_path(@wedding), class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="info-wedding-location">
        <div id="map" style="width: 300px; height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="task-block">
    <%= render 'tasks/tasks', wedding: @wedding %>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(10);
        }
      });
    <% end %>
  <% end %>
</div>
