<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-infos">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_tag @wedding.photo.path %>')">
          <div class="card-category"><%= @wedding.user.first_name %> & <%= @wedding.spouse_first_name %></div>
          <p class="card-date"><%= @wedding.date %></p>
          <p class="card-location"><%= @wedding.location %></p>
          <a class="card-link" href="<%= wedding_path %>" ></a>
        </div>
        <div class="card-description">
          <h2><%= @wedding.description %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

